<main>
<h1> <%= link_to "LOGO", root_path %> </h1>
   <a class="btn btn-info btn-sm btn-block mb-3 about" href="/about">About</a>
   <a class="btn btn-info btn-sm btn-block mb-3 items" href="/items">商品一覧</a>
   <a class="btn btn-info btn-sm btn-block mb-3   new_customer_registration" href="/customers/sign_up">新規登録</a>
   <a class="btn btn-info btn-sm btn-block mb-3 customer_session" href="/customers/sign_in">ログイン</a>
   <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
   </p>
ようこそ、ながのCAKEへ！<br>
このサイトは、ケーキ販売のECサイトになります。<br>
会員でない方も商品の閲覧はできますが、<br>
購入には会員登録が必要になります。

<h2>新着商品</h2>
商品名<br>
<%#= link_to "全ての商品を見る", items_path (@item.id) %>
</main>