<h1>会員一覧</h1>

<table>
  <thead>
    <tr>
      会員ID
      氏名
      メールアドレス
    </tr>
    <tr>
      <%= @customer.each do |customer| %>
      <td><%= customer.id %></td>
      <td><%= customer.first_name_kana %></td>
      <td><%= customer.email %></td>
      <% end %>
    </tr>
  </thead>
</table>
